@model MaxSoftWebSite.Models.Job

@{
    ViewBag.Title = "تفاصيل الوظيفة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<h2 class="col-md-offset-1">@ViewBag.Title</h2>
<div class="col-md-offset-1 col-md-10 alert alert-info">
    @{
        if (ViewBag.Result != null)
        {


            if ((bool)ViewData["status"] == true)
            {
                <h6 class="alert alert-success">@ViewBag.Result</h6>
            }
            else
            {
                <h6 class="alert alert-danger">@ViewBag.Result</h6>
            }

        }
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.JobContent).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.JobImage)" class="thumbnail" style="width:128px;height:128px;" />
        </dd>

    </dl>
   
    <p>
        @{
            if ((bool)ViewData["ApplyEnable"] == true)
            {
                @Html.ActionLink("التقدم للوظيفة", "Apply", new { id = Model.Id }, new { @class = "btn btn-success", @style = "visibility:visible;" })
            }
            else
            {
                @Html.ActionLink("التقدم للوظيفة", "Apply", new { id = Model.Id }, new { @class = "btn btn-success", @style = "visibility:hidden;" })
            }

        }
        @Html.ActionLink("الرجوع للقائمة", "Index", new { @class = "btn btn-default" })
    </p>
</div>